

        <h1 style="text-align:center;">{{title}}</h1>
        <p> {{name}} </p>
        <p> {{text}}</p>
        <a href= {{link.href}} > {{link.text}} </a>

<p>{{resetCode}}</p>
        <p>{{ignored}}</p>