

        <h1 style="text-align:center;">{{title}}</h1>
        <p> {{name}} </p>
        <p> {{text}}</p>
        <a href= {{link.href}} > {{link.text}} </a>
       {{!-- <a href= {{link}}  >clic here to activate your account</a> --}}